#chapters
  %ul
    %li{id: "new_chapter", onclick: "new_chapter()", class: "btn btn-default"}
      Create chapter
    - if !@chapters.empty?
      %ul{id: "sortable"}
        - @chapters.each do |chapter|
          %li{class: "ui-state-default", id: "#{chapter.order}"}
            = chapter.title


:javascript

  function new_chapter(){
    var newLi = '<li class="display ui-state-default ui-sortable-handle" id="#{@chapters.count + 1}">Untitled</li>';
    $("#sortable").append(newLi);
    var order = #{@chapters.count + 1};
    title_changed = false;
    content_changed = false;
    $.ajax({
        type: "POST",
        url: '/chapters.json',
        data: {
            chapter: {
                title: "Untitled",
                content: "",
                order: order,
                record_id: #{params[:id]}
            }
        },
        dataType: 'json',
        success: function(msg) {
            alert( "Data Saved: " + msg );
        }
    });
  }


