- if @record.chapters.count != 0
  %ul{id: "sortable"}
    - i = 0
    - @record.chapters.each do |chapter|
      - i += 1
      %li{class: "ui-state-default", id: "#{chapter.order}", 'data-index': "#{i}"}
        = chapter.title
        - if current_page?(edit_record_path)
          %span{class: "glyphicon glyphicon-remove", id: "#{chapter.order}", style: "float: right"}
- if !current_user.nil?
  #attributes{type: 'hidden', 'data-max': "#{@record.chapters.max{ |a,b| a[:order] <=> b[:order] }[:order]}", 'data-size': "#{@record.chapters.size}", 'data-user-id': "#{current_user.id}", 'data-record-id': "#{params[:id]}"}
- else
  #attributes{type: 'hidden', 'data-max': "#{@record.chapters.max{ |a,b| a[:order] <=> b[:order] }[:order]}", 'data-size': "#{@record.chapters.size}", 'data-user-id': "0", 'data-record-id': "#{params[:id]}"}

:javascript
    jQuery(function(){
        jQuery('#1').click();
    });