= form_for @record, html: { class: "form form-horizontal record" } do |f|
  .col-lg-6
    .form-group
      = f.label :title, class: 'control-label col-lg-1', style: 'text-align: left'
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span(:title)
    .form-group
      = f.label :description, class: 'control-label col-lg-1', style: 'text-align: left'
      = f.text_area :description, class: 'form-control', rows: '3'
      = f.error_span(:description)
    .form-group
      = f.label :tags, class: 'control-label col-lg-1', style: 'text-align: left'
      = f.text_field :tag_list, class: 'form-control', placeholder: 'Enter tags', value: @record.tag_list.to_s
    .form-group
      %br
      = f.select_tag :category, options_from_collection_for_select(Category.all, "id", "name"), include_blank: "Choose Category", class: 'form-control'
      %br
      = f.collection_select(:genre_id, Genre.all, :id, :name, options = {:include_blank => false}, html_options = {:class => "form-control"})
      %br
      %br
      = f.file_field :cover
      %br
    .form-group
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), records_path, :class => 'btn btn-default'
  .col-lg-4
    .thumbnail{style: 'overflow: auto'}
      %img{ id: 'preview', src: "#{@record.cover.url}", class: 'col-lg-12', alt: 'Your image'}
.col-lg-12
  %hr
