.col-lg-8
  = form_tag root_path, class: "form-inline", method: :get do
    .input-group.input-group-md
      = text_field_tag :query, params[:query], class: "form-control", id: "record_search", autocomplete: "off"
      .input-group-btn
        = submit_tag "Search", class: "btn btn-primary"
    = select_tag :category, options_from_collection_for_select(Category.all, "id", "name"), include_blank: "Choose Category", class: 'form-control'
    = select_tag :genre, options_from_collection_for_select(Genre.all, "id", "name"), include_blank: "Choose Genre", class: 'form-control'
  %br

:javascript
  $('#genre').change(function(){
    search_by_categories();
  })

  $('#category').change(function(){
    get_genres();
    search_by_categories();
  })

  function get_genres(){
    val = $("#category").val();
    url = '';
    if (val == '')
      url = 'get_genres';
    else
      url = 'get_genres/' + val;
    $.ajax({
      type: "GET",
      url: url,
    }).success(function(data) {
      $("select#genre").empty();
      $("select#genre").append( $("<option>")
         .val('')
         .html('Choose Genre')
      );
      data.forEach(function(item, i, arr) {
        $("select#genre").append( $("<option>")
            .val(item['id'])
            .html(item['name'])
        );
      });
    });
  }
  function search_by_categories(){
    //alert("sdf");
  }

