.col-lg-8
  = form_tag root_path, class: "form-inline", method: :get do
    .input-group.input-group-md
      = text_field_tag :query, params[:query], class: "form-control", id: "record_search", autocomplete: "off"
      .input-group-btn
        = submit_tag "Search", class: "btn btn-primary"
    = select_tag :category, options_from_collection_for_select(Category.all, "id", "name"), include_blank: "Choose Category", class: 'form-control'
    = select_tag :genre_id, options_from_collection_for_select(Genre.all, "id", "name"), include_blank: "Choose Genre", class: 'form-control'
  %br