- model_class = Record

.page-header
  %h1
    By

.col-lg-2
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @record.title
.col-lg-2
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @record.description
%br/
%br/
%br/
= content_for :chapters do
  #chapters
    = render "partials/chapters", :chapters => @record.chapters
.form-group
  .col-lg-12
    %label{for: "usr"}
      Chapter Title
    %br
      %textarea{class: "form-control", type: "text", id: "chapter_title", disabled: "true", rows: '1', required: true, style: "font-weight: bold"}
        - @record.chapters.each do |chapter|
          = chapter.title
          - break
      %br
      %span{id: 'chapter'}
    %br
.simple-pagination
%br
.container.col-lg-12{id: 'comments-line'}
  %h2
    Comments
  %hr
  %section{class:"comment-list"}
    = nested_comments @comments
  = render "comments/form"

:javascript
