- model_class = Record

.page-header
  %h1
    By

.col-lg-2
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @record.title
.col-lg-2
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @record.description
%br/
%br/
%br/
= content_for :chapters do
  #chapters
    = render "partials/chapters", :chapters => @record.chapters
.form-group
  .col-lg-12
    %label{for: "usr"}
      Chapter Title
    %br
      %textarea{class: "form-control", type: "text", id: "chapter_title", disabled: "true", rows: '1', required: true, style: "font-weight: bold"}
        - @record.chapters.each do |chapter|
          = chapter.title
          - break
      %br
      %div{id: 'chapter'}
    %br
.simple-pagination
%br
.container.col-lg-12{id: 'comments-line'}
  %h2
    Comments
  %hr
  %section{class:"comment-list"}
    = nested_comments @comments
  = render "comments/form"
#new-anchor{class: 'glyphicon glyphicon-plus'}
#bookmark-tip{class: 'alert alert-success'}
  This bookmark will appear in your profile!

:javascript

  var txt, pos;

  $('#chapter').mouseup(function(e){
    txt = window.getSelection().toString();
    if (txt != ""){
      $('#new-anchor').css({left:e.pageX, top:e.pageY - 50}).fadeIn();
      var ch = document.getElementById("chapter");
      var sel = getSelectionCharOffsetsWithin(ch);
      pos = sel.start;
     }
  });

  $('#chapter').mousedown(function(e){
    $('#new-anchor').fadeOut();
  });

  $("#new-anchor").click(function(e){
    $("#bookmark-tip").css({left:e.pageX, top:e.pageY - 50}).fadeIn(1500);
    $("#bookmark-tip").fadeOut(1500);
    $('#new-anchor').fadeOut();
    insertAnchor();
  })

  function getSelectionCharOffsetsWithin(element) {
    var start = 0, end = 0;
    var sel, range, priorRange;
    if (typeof window.getSelection != "undefined") {
        range = window.getSelection().getRangeAt(0);
        priorRange = range.cloneRange();
        priorRange.selectNodeContents(element);
        priorRange.setEnd(range.startContainer, range.startOffset);
        start = priorRange.toString().length;
        end = start + range.toString().length;
    } else if (typeof document.selection != "undefined" &&
            (sel = document.selection).type != "Control") {
        range = sel.createRange();
        priorRange = document.body.createTextRange();
        priorRange.moveToElementText(element);
        priorRange.setEndPoint("EndToStart", range);
        start = priorRange.text.length;
        end = start + range.text.length;
    }
    return {
        start: start
    };
  }

    function insertAnchor() {
    var anchor = '<a name="' + txt + '"></a>';
    $.ajax({
      type: "POST",
      url: '/bookmarks.json',
      data: {
        bookmark: {
          anchor: anchor,
          name: txt,
          index: pos,
          user_id: parseInt("#{current_user.id}"),
          record_id: parseInt("#{params[:id]}"),
          order: current_chapter
        },
      },
      dataType: 'json'
      }).success(function(data) {
        alert("sdfsdf");
      });
  }