- model_class = Record
.page-header
  %h1
    By

.col-lg-2
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @record.title
.col-lg-2
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @record.description
%br/
%br/
%br/
= content_for :chapters do
  #chapters
    = render "partials/chapters", :chapters => @chapters
.form-group
  .col-lg-12
    %label{for: "usr"}
      Chapter Title
    %textarea{class: "form-control", type: "text", id: "chapter_title", rows: '1', disabled: "true", style: "font-weight: bold"}
      - @chapters.each do |chapter|
        = chapter.title
        - break
    %br
    %textarea{id: 'chapter', class: 'form-control', disabled: "true", rows: '20'}
      - @chapters.each do |chapter|
        = chapter.content
        - break
    %br
.simple-pagination
%br
.container.col-lg-12{id: 'comments-line'}
  %h2
    Comments
  %hr
  %section{class:"comment-list"}
    = nested_comments @comments
  = render "comments/form"


:javascript
  $(function() {
    var size = parseInt("#{@chapters.size}");
    $(".simple-pagination").pagination({
      items: size,
      itemsOnPage: 1,
      cssStyle: 'compact-theme',
      onPageClick: function(pageNumber){
        save();
        current_chapter = getChapterByIndex(pageNumber).id;
        url = "#{params[:id]}" + '/get_chapter_text/' + getChapterByIndex(pageNumber).id;
        changed = false;
        $.get( url, function(data) {
          $("#chapter").val(data['text']);
          $("#chapter_title").val(data['title']);
        });
      }
    });
  });