- model_class = Record

.page-header
  %h1
    By

.col-lg-2
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @record.title
.col-lg-2
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @record.description
%br/
%br/
%br/
= content_for :chapters do
  #chapters
    = render "partials/chapters", :chapters => @record.chapters
.form-group
  .col-lg-12
    %label{for: "usr"}
      Chapter Title
    %br
      %textarea{class: "form-control", type: "text", id: "chapter_title", disabled: "true", rows: '1', required: true, style: "font-weight: bold"}
        - @record.chapters.each do |chapter|
          = chapter.title
          - break
      %br
      %div{id: 'chapter'}
    %br
.simple-pagination
%br
.container.col-lg-12{id: 'comments-line'}
  %h2
    Comments
  %hr
  %section{class:"comment-list"}
    = nested_comments @comments
  = render "comments/form"
#new-anchor{class: 'glyphicon glyphicon-plus'}
#bookmark-tip{class: 'alert alert-success'}
  This bookmark will appear in your profile!

:javascript

  var txt;

  $('#chapter').mouseup(function(e){
    txt = window.getSelection().toString();
    if (txt != "")
      $('#new-anchor').css({left:e.pageX, top:e.pageY - 50}).fadeIn();
  });

  $('#chapter').mousedown(function(e){
    $('#new-anchor').fadeOut();
  });

  $("#new-anchor").click(function(e){
    $("#bookmark-tip").css({left:e.pageX, top:e.pageY - 50}).fadeIn(1500);
    $("#bookmark-tip").fadeOut(1500);
    $('#new-anchor').fadeOut();
    surroundSelection();
  })

  function surroundSelection() {
    var anchor = document.createElement("span");
    //anchor.name = txt;
    if (txt) {
        var sel = window.getSelection();
        if (sel.rangeCount) {
            var range = sel.getRangeAt(0).cloneRange();
            range.surroundContents(anchor);
            sel.removeAllRanges();
            sel.addRange(range);
        }
    }
  }