!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Graphomaniac
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'style'
    = stylesheet_link_tag    'head'
    = stylesheet_link_tag    'comments'
    = stylesheet_link_tag    'left_sidebar'
    = stylesheet_link_tag    'right_sidebar'
    = stylesheet_link_tag    'chapters'
    = stylesheet_link_tag    'jqcloud'
    = stylesheet_link_tag    'simplePagination'
    = stylesheet_link_tag "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "//code.jquery.com/jquery-1.10.2.js"
    = javascript_include_tag "//code.jquery.com/ui/1.11.4/jquery-ui.js"
    = javascript_include_tag 'jquery.simplePagination'
    = javascript_include_tag 'jqcloud-1.0.4.js'
    = javascript_include_tag 'jqcloud-1.0.4.min.js'
    = csrf_meta_tags
  %body
    = render "partials/header"
    #all_content
      = render "partials/left_sidebar"
      #specific_content
        #page
          = yield
      = render "partials/right_sidebar"
    .footer{class: "navbar-fixed-bottom row-fluid"}
      All rights reserved. Ruby Lab iTechArt Group 2016. (c)
